.search-dp {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: -1;
  top: 532px;
  left: 57px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.ui-datepicker {
  width: 320px;
  background: #FFF;
  border: 1px solid var(--color25);
  box-shadow: 0px 10px 20px var(--color5);
  border-radius: 4px;
  padding: 20px;
  margin-left: -27px;
  margin-top: 44px;
  z-index: 10;
}

.con-landing .ui-datepicker {
  margin-bottom: -20px;
}

.ui-datepicker-header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  color: var(--color100);
  font-weight: bold;
  font-size: 19px;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
  /* background-color: var(--color5); */
}

.ui-datepicker-prev {
  background-image: url(../svg/icons/arrow_back.svg);
}

.ui-datepicker-next {
  background-image: url(../svg/icons/arrow_forward.svg);
  order: 2;
}

.ui-datepicker-prev.ui-state-disabled, .ui-datepicker-next.ui-state-disabled {
  opacity: 0;
  cursor: auto;
}

.ui-datepicker-calendar {
  width: 100%;
  color: var(--color50);
  font-size: 12px;
  margin-top: 30px;
  border-spacing: 0;
}

.ui-datepicker-calendar thead{
  color: var(--purple);
  font-weight: bold;
}

.ui-datepicker-other-month {
  color: var(--color25);
}

.ui-datepicker-calendar td {
  text-align: center;
  min-width: 40px;
  height: 40px;
}

.ui-datepicker-calendar td:hover {
  border-radius: 50%;
  background: var(--color5);
}

.ui-datepicker-today {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 50%;
}

td.ui-datepicker-current-day, td.dp-first {
  background: var(--gradient);
  border-radius: 20px;
}

.ui-datepicker-current-day a, .ui-datepicker-today a, .dp-first a {
  color: #FFF;
  font-weight: bold;
}

.ui-datepicker-buttonpane {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.ui-datepicker-buttonpane button{
  background: none;
  border: none;
  color: var(--purple);
  text-transform: uppercase;
}

.dp-highlight {
  background: linear-gradient(180deg, #BC9CFF19 0%, #8BA4F919 100%);
}

.dp-highlight.dp-first::after {
  content: "";
  width: 20px;
  height: 40px;
  background: linear-gradient(180deg, #BC9CFF19 0%, #8BA4F919 100%);
  margin-top: -13px;
  margin-left: -6px;
}
.dp-highlight.ui-datepicker-current-day::before {
  content: "";
  width: 20px;
  height: 40px;
  background: linear-gradient(180deg, #BC9CFF19 0%, #8BA4F919 100%);
  margin-top: -13px;
  margin-left: -13px;
}
/* .ui-datepicker.ui-datepicker-multi  {
  width: 100% !important;
}
.ui-datepicker-multi .ui-datepicker-group {
  float:none;
}
.ui-widget { font-size: 100% } */