header {
  /* display: grid;
  grid-auto-flow: column; */
  width: 100%;
  background: white;
  box-shadow: 0px 10px 20px var(--color5);
  padding: 20px var(--padding-con);
  position: relative;
  height: 70px;
}

header > *:not(:first-child) {float: right;}

nav {
  /* width: 80%; */
  /* position: relative; */
  display: flex;
  grid-gap: 20px;
  /* float: right; */
  /* justify-content: center; */
}
.tablet nav, .mobile nav {
  display: none;
  position: fixed;
  height: 100%;
  width: calc(100% - 40px); max-width: calc(100% - 40px);
  z-index: 10;
  flex-direction: column;
  top: 0; right: 0;
  background: white;
  padding: 15px;
  grid-gap: 10px;
  border-left: 1px solid var(--color25);
  box-shadow: 0px 10px 20px var(--color5);
}
.tablet nav.active, .mobile nav.active {display: flex;}

#nav-btn {display: none; margin-right: 20px;}
.tablet #nav-btn, .mobile #nav-btn {display: block;}

header div {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  height: 30px;
  /* margin-right: 20px; */
  /* width: 10%; */
  /* padding: 10px; */
}
.tablet header div, .mobile header div {height: 20px; align-items: flex-start;}

.log-reg {grid-gap: inherit; justify-content: space-evenly;}

.tablet .link-dropdown:hover, .mobile .link-dropdown:hover {height: auto; flex-direction: inherit;}

header div.link-dropdown-content {
  display: none;
  position: absolute;
  top: 24px;
  left: -3px;
  padding: 3px;
  background-color: white;
  height: auto;
  z-index: 1;
  border: 1px solid var(--color25);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px var(--color5);
}
.tablet header div.link-dropdown-content, .mobile header div.link-dropdown-content {
  position: static;
  border: none;
  box-shadow: none;
  padding: 0 0 0 15px;
}

.link-dropdown-content a {
  display: block;
  border-bottom: 1px solid var(--color25);
  padding: 5px 0px;
}
.tablet .link-dropdown-content a, .mobile .link-dropdown-content a {border-bottom: none;}

.link-dropdown-content a:last-child {
  border-bottom: none;
}

header .link-dropdown:hover .link-dropdown-content {
  display: block;
}

.link-dropdown > *:first-child:after {
  position: relative;
  content: "expand_more";
  font-family: 'Material Icons';
  font-weight: normal;
  font-size: 24px;
  line-height: 0;
  text-transform: none;
  vertical-align: middle;
}

header a, footer a, header .link-dropdown span {
  color: var(--color50);
}

header a:hover, footer a:hover {
  text-decoration: underline;
}

header a:hover, footer a:hover, header .link-dropdown span:hover {
  color: var(--color75);
  cursor: pointer;
}

header div:last-child {
  /* margin-right: 0; */
}

.logo {
  float: left;
}

.logo a {
  display: inline-flex;
}

header .btn {
  height: 34px;
}

.user {float: right;}
body:not(.tablet, .mobile) .user{margin-left: 20px;}

/*Footer*/
footer {
  background: white;
}

footer > * {width: 100%; padding: 0 calc((100% - 1160px) / 2);}
.large-tablet footer > *, .tablet footer > *, .mobile footer > * {padding: 0 50px;}

footer .content {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  grid-gap: 10px;
  box-shadow: 0px 0px 0px 1px rgba(31, 32, 65, 0.1);
  padding-top: 100px; padding-bottom: 100px;
}
.large-tablet footer .content, .tablet footer .content, .mobile footer .content {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  grid-gap: 20px 10px;
  box-shadow: 0px 0px 0px 1px rgba(31, 32, 65, 0.1);
  padding-top: 50px; padding-bottom: 50px;
}

.col {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  /* padding: 0 20px; */
  text-align: left;
}

.col img {
  display: inline;
  width: 106px;
  margin: 0;
}

.col:first-child {
  /* padding: 0 20px 0 0; */
}

.col:last-child {
  /* padding: 0 0 0 20px; */
}

.col-lg {width: 260px;}

.col h3 {margin-top: 5px;}

.col > * {margin-top: 20px;}
.mobile .col > * {margin-top: 10px;}

#subscription + label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
}
#subscription + label:before {
  content: "arrow_forward";
  font-family: 'Material Icons';
  position: absolute;
  left: -1.2em;
  color: var(--purple);
}
#subscription:hover + label:before, #subscription:focus + label:before {color: var(--color100);}
/* #subscription:not(:focus):valid + label:before {content: "\2714"; color: var(--purple);} */

.copyright {
  display: flex;
  bottom: 0;
  height: 70px;
  border-top: 1px solid var(--color5);
  align-items: center;
}