
:root {
  --filters-width: 266px;
}

.con-landing {
  width: 100%;
  padding: 0 15px;
}

.bg-image {
  position: relative;
  padding: 70px var(--padding-con);
  background: url("../images/bg1.png");
  background-size: cover;
  background-position: bottom;
}
.bg-image#registration, .bg-image#login {background-image: url("../images/bg2.png"); background-position: 0;}
.large-tablet .bg-image, .tablet .bg-image {padding: 70px 0;}
.mobile .bg-image {padding: 70px 20px; min-height: 0;}
.large-tablet .bg-image .con-landing, .tablet .bg-image .con-landing {margin: 0 auto;}

.search {
  padding: 30px var(--padding-con) 70px var(--padding-con);
  display: grid;
  grid-template-columns: var(--filters-width) 1fr;
  grid-gap: 60px;
}
.large-tablet .search {padding: 30px 30px 70px 30px;}
.tablet .search, .mobile .search {grid-template: none; padding: 30px 30px 70px 60px;}

.filters {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  background-color: white;
}
.tablet .filters, .mobile .filters {display: none;}
.tablet .filters.active, .mobile .filters.active {
  display: flex;
  position: fixed;
  z-index: 1;
  height: 100%; width: calc(var(--filters-width) + 40px);
  top: 0; left: 0;
  overflow-y: scroll;
  padding: 20px;
}

.filters > div, .dd-container.active .dropdown-content {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

#cost i {
  float: right;
}

.accessibility label {
  color: var(--color75);
  font-weight: bold;
}

.accessibility i {
  display: inline-block;
  margin: 0px 0 0 30px;
}

#filter-btn {
  display: none;
  position: fixed;
  top: 50%; left: 0;
  z-index: 1;
  border-radius: 0 50% 50% 0;
  border-left: none;
}
#filter-btn.active {left: calc(var(--filters-width) + 40px);}
.tablet #filter-btn, .mobile #filter-btn {display: inline-flex;}

#filter-btn span {font-size: 32px; transform: rotate(-90deg);}
#filter-btn.active span {transform: rotate(90deg);}

.container {
  display: grid;
  grid-gap: 20px;
  background: white;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  width: 382px;
  padding: 40px 30px 30px 30px;
}
.mobile .container {width: 100%; padding: 20px 15px 15px 15px;}

.con-center {
  margin: 0 auto;
}

.con-center span {
  color: black;
}

.container div {
  display: flex;
  flex-direction: column;
  grid-gap: 7px;
  width: 100%;
}

div.con-div-row {
  flex-direction: row;
  align-items: center;
  grid-gap: 20px;
}

.arrive-departure button {
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  height: 44px;
  font-size: 14px;
  color: var(--color75);
  background: white;
  border: 1px solid var(--color25);
  border-radius: 4px;
  justify-content: space-between;
  padding: 15px; padding-right: 10px;
}

.dd-menu > button::after, .arrive-departure button::after {
  position: relative;
  margin-left: auto;
  content: "expand_more";
  font-family: 'Material Icons';
  font-weight: normal;
  color: var(--color50);
  font-size: 24px;
  text-transform: none;
}

.container .main-btn, div.else-login {margin-top: 10px;}

div.else-login {justify-content: space-between;}

.main-btn::after {
  content: "arrow_forward";
  font-family: 'Material Icons';
  font-weight: normal;
  font-size: 24px;
  text-transform: none;
  right: 10px;
}

.caption {
  position: absolute;
  right: 0;
  padding-right: calc((100% - 1440px) / 2 + 134px);
  top: calc(100% - 66px);
  float: right;
  text-align: right;
}
.large-tablet .caption, .tablet .caption, .mobile .caption {padding-right: 20px;}