#preview {
  display: grid;
  /* grid-template-columns: 2.2fr 1fr; */
  max-height: 600px;
  overflow: hidden;
}

#content {
  display: grid;
  grid-template-columns: 1fr 382px;
  padding: 70px 140px;
  grid-gap: 70px;
  align-items: start;
}

#info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 70px;
}

#info div h2 { margin-bottom: 20px; }

.data div, .data hr { margin-top: 20px; }
.data div:first-of-type { margin-top: 0; }

.data div {
  display: inline-flex;
  grid-gap: 10px;
}

.data span.material-icons {
  font-size: 48px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.data p {
}

hr {
  /* border-color: #1F20411A; */
  height: 1px;
  background-color: #1F20411A;
  border: none;
}

.canvas {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  max-width: 400px;
}

.total-chart {
  position: absolute;
  width: 120px;
  /* height: 120px; */
  text-align: center;
  color: var(--purple);
  font-weight: bold;
  font-size: 12px;
}
.total-chart span:first-of-type {font-size: 24px;}

.unit {
  fill: none;
  stroke-width: 1;
}

.unit:nth-of-type(1) {
  stroke: url(#disappoint);
  stroke-dasharray: 0 100;
}

.unit:nth-of-type(2) {
  stroke: url(#alright);
  stroke-dasharray: 24 100;
  stroke-dashoffset: -75.5;
}

.unit:nth-of-type(3) {
  stroke: url(#good);
  stroke-dasharray: 24 100;
  stroke-dashoffset: -0.5;
}

.unit:nth-of-type(4) {
  stroke: url(#great);
  stroke-dasharray: 49 100;
  stroke-dashoffset: -25.5;
}

.legend {
  max-width: 250px;
  margin-left: 30px;
  align-self: flex-end;
}

.title {  
  
}

.caption-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.caption-item {
  position: relative;

  margin-top: 10px;
  padding-left: 15px;
  
  cursor: pointer;
}

.caption-item:hover {
  opacity: 0.8;
}

.caption-item::before {
  content: "";
  
  position: absolute;
  top: 3px;
  left: 0;
  
  width: 10px;
  height: 10px;
  
  border-radius: 50%;
}

.caption-item:nth-child(1)::before {
  background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
}

.caption-item:nth-child(2)::before {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.caption-item:nth-child(3)::before {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.caption-item:nth-child(4)::before {
  background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
}

.reviews {
  grid-column: 1 / -1;
}

.reviews > div {
  display: grid;
  grid-template-columns: 44px 1fr;
  grid-template-rows: 44px 1fr;
  grid-gap: 10px;
  margin-top: 20px;
}
.reviews > div:first-of-type { margin-top: 0; }

.reviews > div img{
  /* width: auto; */
}

.reviews > div > div {
  justify-self: center;
}

button .material-icons {
  font-size: 10px;
  margin-right: 5px;
}

.like-btn {
  border-width: 1px;
  padding: 5px 10px 5px 5px;
  color: var(--color25);
  border-color: var(--color25);
}

.liked {
  color: var(--purple);
  border-color: var(--purple);
}

.rules {
  padding-left: 10px;
}

.rules ul li {
  margin-top: 10px;
  line-height: 24px;
  /* padding-inline-start: 1ch; */
}
.rules ul li:first-of-type { margin-top: 0; }

.rules ul li::marker { content: ""; }

.rules ul li::before {
  content: "●";
  font-size: 24px;
  color: var(--color25);
  line-height: inherit;
  margin-top: -1px;
  margin-left: -20px;
}

.con-reservation .room-info, .subtotal div, div.total {
  flex-direction: row;
  justify-content: space-between;
}

.con-reservation .room-info {
  align-items: flex-end;
  font-size: 12px;
  color: var(--color50);
}

.room-info h2 {
  font-size: 24px;
  margin-right: 8px;
}
.room-info h2 span { font-size: 14px; }

.room-info h3 { color: var(--purple) }
.room-info b { font-size: 14px; }

div.total { grid-gap: 0;  white-space: nowrap;}
.total .line { height: 100%; border-color: var(--color25); border-bottom-style: dotted;}