#slider-wrap{
  display: block;
	/* height:100%; */
	position:relative;
	overflow:hidden;
}

#slider-wrap ul#slider{
	/* width:100%; */
	/* height:100%; */

	position: relative;
	/* top:0; */
	/* left:0; */
}

#slider-wrap ul#slider li{
	float:left;
	position:relative;
	/* width:600px; */
	/* height:400px; */
}

#slider-wrap ul#slider li img {
  width: 270px;
}

/*btns*/
.btns{
	position:absolute;
	width:44px;
	height:44px;
	top:50%;
	margin-top:-25px;
	text-align:center;
  vertical-align: middle;
	cursor:pointer;
	/* background:rgba(0,0,0,0.1); */
	z-index:100;
  color: white;


	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;

	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.btns:hover{
	background:rgba(0,0,0,0.3);
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 0px;}

#next i, #previous i {line-height:44px;}

#next i{transform: rotate(-90deg);}
#previous i{transform: rotate(90deg);}

#counter{
	top: 30px;
	right:35px;
	width:auto;
	position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
	min-width:20px;
	bottom: 15px;
	right: 15px;
	margin-left: auto;
	margin-right: auto;
	height:15px;
	position: absolute;
	text-align:center;
}

#pagination-wrap ul {
	width:100%;
}

#pagination-wrap ul li{
	margin: 0 2px;
	display: inline-block;
	width:8px;
	height:8px;
	border-radius:50%;
  border: 1px solid #FFF;
	/* opacity:0.5; */
	position:relative;
  top:0;
}

#pagination-wrap ul li.active{
  background:#fff;
  /* top:3px; */
	opacity:1;
	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;
}

/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);
}

/* datepicker */

.search-dp {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: -1;
  top: 532px;
  left: 57px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.ui-datepicker {
  width: 320px;
  background: #FFF;
  border: 1px solid var(--color25);
  box-shadow: 0px 10px 20px var(--color5);
  border-radius: 4px;
  padding: 20px;
  margin-left: -27px;
  margin-top: 44px;
  z-index: 10;
}

.search .ui-datepicker {
  margin-bottom: -20px;
}

.ui-datepicker-header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  color: var(--color100);
  font-weight: bold;
  font-size: 19px;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
  /* background-color: var(--color5); */
}

.ui-datepicker-prev {
  background-image: url(/images/svg/arrow_back.svg);
}

.ui-datepicker-next {
  background-image: url(/images/svg/arrow_forward.svg);
  order: 2;
}

.ui-datepicker-prev.ui-state-disabled, .ui-datepicker-next.ui-state-disabled {
  opacity: 0;
  cursor: auto;
}

.ui-datepicker-calendar {
  width: 100%;
  color: var(--color50);
  font-size: 12px;
  margin-top: 30px;
  border-spacing: 0;
}

.ui-datepicker-calendar thead{
  color: var(--purple);
  font-weight: bold;
}

.ui-datepicker-other-month {
  color: var(--color25);
}

.ui-datepicker-calendar td {
  /* display: inline-block; */
  text-align: center;
  min-width: 40px;
  height: 40px;
}

.ui-datepicker-calendar td:hover {
  border-radius: 50%;
  background: var(--color5);
}

.ui-datepicker-today {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 50%;
}

td.ui-datepicker-current-day, td.dp-first {
  background: var(--gradient);
  border-radius: 20px;
}

.ui-datepicker-current-day a, .ui-datepicker-today a, .dp-first a {
  color: #FFF;
  font-weight: bold;
}

.ui-datepicker-buttonpane {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.ui-datepicker-buttonpane button{
  background: none;
  border: none;
  color: var(--purple);
  text-transform: uppercase;
}

.dp-highlight {
  background: linear-gradient(180deg, #BC9CFF19 0%, #8BA4F919 100%);
}

.dp-highlight.dp-first::after {
  content: "";
  width: 20px;
  height: 40px;
  background: linear-gradient(180deg, #BC9CFF19 0%, #8BA4F919 100%);
  margin-top: -13px;
  margin-left: -6px;
}
.dp-highlight.ui-datepicker-current-day::before {
  content: "";
  width: 20px;
  height: 40px;
  background: linear-gradient(180deg, #BC9CFF19 0%, #8BA4F919 100%);
  margin-top: -13px;
  margin-left: -13px;
}
/* .ui-datepicker.ui-datepicker-multi  {
  width: 100% !important;
}
.ui-datepicker-multi .ui-datepicker-group {
  float:none;
}
#datepicker {
  height: 300px;
  overflow-x: scroll;
}
.ui-widget { font-size: 100% } */
