@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  /* Браузер сначала попробует найти шрифт локально */
  src: url("/fonts/Montserrat-Regular.ttf");
  /* local("Montserrat"), */
       /* Если не получилось, загрузит woff2 */

       /* Если браузер не поддерживает woff2, загрузит woff */
       /* url("/fonts/roboto.woff") format("woff"); */
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Montserrat-Bold.ttf");
}

:root {
  --green: #6fcf97;
  --purple: #bc9cff;
  --color100: #1f2041;
  --color75: rgba(31, 32, 65, .75);
  --color50: rgba(31, 32, 65, .5);
  --color25: rgba(31, 32, 65, .25);
  --color5: rgba(31, 32, 65, .05);
  --gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

*, *::after, *::before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   /* transition: .2s ease-in-out; */
   /* добавим плавность переходов для всех элементов страницы*/
}
*::after, *::before {
   position: absolute;
}
a {
   text-decoration: none;
   outline: none;
}
img {
   display: block;
   width: 100%;
}
body {
  /* font-family: "Montserrat", 'Open Sans', arial, sans-serif; */
  font: 400 14px Montserrat;
  line-height: 1.22;
  /* letter-spacing: 1px; */
  color: var(--color75);
  background: white;
  min-height: 600px;
}
h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  font-style: bold;
  font-weight: bold;
  letter-spacing: 0;
  color: var(--color100);
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 19px;
}
h3 {
  font-size: 12px;
  text-transform: uppercase;
}
p {
  line-height: 24px;
}
a {
  color: var(--color75);
}
i {
  font-style: normal;
  font-size: 12px;
}
button {
  font: bold 12px Montserrat;
}

select, input {
  font: 400 14px Montserrat;
  letter-spacing: 1px;
  color: var(--color75);
  border: 1px solid var(--color25);
  border-radius: 4px;
  /* height: 44px; */
  padding: 12px 15px;
}

input::placeholder {
  color: var(--color25);
}

input[type="radio" i] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type="radio" i] + label {
  display: inline-flex;
  align-items: center;
  color: var(--color50);
}

input[type="radio" i] + label::before {
  position: static;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 4px solid #FFF;
  box-shadow: 0 0 0 1px var(--color25);
  border-radius: 50%;
  margin-right: 0.5em;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  cursor: pointer;
}

input[type="radio" i]:checked + label {
  color: var(--color75);
}

input[type="radio" i]:checked + label::before {
  box-shadow: 0 0 0 1px var(--purple);
  background-image: var(--gradient);
  color: var(--color75);
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  display: inline-flex;
  align-items: flex-start;
  color: var(--color50);
}

.checkbox + label::before {
  position: static;
  content: "";
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 4px solid #FFF;
  box-shadow: 0 0 0 1px var(--color25);
  border-radius: 20%;
  margin-right: 10px;
  margin-top: -0.2em;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  cursor: pointer;
}

.checkbox:checked + label {
  color: var(--color75);
}

.checkbox:checked + label::before {
  box-shadow: 0 0 0 1px var(--purple);
  background-image: url("/images/svg/check.svg");
  color: var(--color75);
}

.toggle {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.toggle + label {
  display: inline-flex;
  align-items: center;
}

.toggle + label::before {
  position: static;
  content: "";
  display: inline-block;
  width: 40px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  /* border: 4px solid #FFF; */
  box-shadow: inset 0 0 0 1px var(--color25), inset 0 0 0 4px #FFF, inset -20px 0 0 4px #FFF;
  border-radius: 10px;
  margin-right: 0.5em;
  background-color: var(--color25);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.toggle:checked + label::before {
  box-shadow: inset 0 0 0 1px var(--purple), inset 20px 0 0 4px #FFF, inset 0px 0 0 4px #FFF;
  background-image: var(--gradient);
}

/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .search:after, footer:after, .widget-posts-list li:after, #subscribe:after {
  content: "";
  display: table;
  clear: both;
}
/* стилевой класс, который управляет шириной контейнера сетки*/
.search {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 0 15px;
}

button, .btn {
  display: inline-flex;
  color: white;
  background: var(--gradient);
  /* background-color: var(--purple); */
  /* height: 34px; */
  padding: 10px 20px;
  border-width: 0;
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.alt-btn {
  border: 2px solid;
  /* Временно */
  /* border-image-source: var(--gradient); */
  color: var(--purple);
  background: white;
}

section {
  background: #FFF;
  width: 100%;
  min-height: 830px;
}

.bg-image {
  background: url("/images/image 3.png");
  background-size: cover;
  background-position: 0 -69px;
}

.main {
  padding: 30px calc((100% - 1160px) / 2) 70px calc((100% - 1160px) / 2);
  display: grid;
  grid-template-columns: 266px 1fr;
  grid-gap: 60px;
}

.filters {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  /* justify-content: space-around; */
  /* align-items: stretch; */
}

.filters > div {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

#cost i {
  float: right;
}

.accessibility label {
  color: var(--color75);
  font-weight: bold;
}

.accessibility i {
  display: inline-block;
  margin: 0px 0 0 30px;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  justify-content: space-around;
  grid-row-gap: 40px;
  grid-column-gap: 12px;
  overflow-y: auto;
}

article {
  box-shadow: 0px 10px 20px var(--color5);
  border-radius: 4px;
  overflow: hidden;
}

.card-link {
  display: block;
}

.card-link:hover {
  opacity: 0.9;
}

article img {
  /* border-radius: 4px; */
}

.catalog article .info {
  display: grid;
  /* grid-gap: 20px; */
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-row-gap: 10px;
}

.catalog article .info .room-number {
  display: flex;
  align-items: flex-end;
  grid-gap: 8px;
  /* justify-content: flex-end; */
}

.catalog article .info .room-number span {
  font-size: 12px;
}

.catalog article .info .room-number h3 {
  color: var(--purple);
}

.catalog article .info .room-rating {
  color: var(--purple);
}

.catalog article .info .room-rating span {
  display: inline-block;
  margin-right: -1px;
}

.catalog article .info .room-price, .catalog article .info .room-comments {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  white-space: pre;
}

.line {
  content: "";
  width: 100%;
  grid-row: 2;
  grid-column: 1 / 3;
  height: 1px;
  background: rgba(31, 32, 65, 0.1);
}

.container {
  display: grid;
  grid-gap: 20px;
  position: relative;
  top: 70px;
  background: white;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  width: 380px;
  /* height: 374px; */
  padding: 40px 30px 30px 30px;
}

.search {
  float: left;
  left: 140px;
  /* grid-column: 50% 50%; */
}

.registration {
  margin: 0 auto;
}

.registration span {
  color: black;
}

.container div {
  display: grid;
  grid-gap: 10px;
}

div .arrive-departure {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.else-login {
  grid-auto-flow: column;
  /* justify-content: center; */
  align-items: center;
}

.search h1 {

}

.search div {
  /* display: grid; */
  /* width: 150px; */
  /* height: 64px; */
  /* margin-top: 20px; */
}

.departure {
  /* margin-left: 12px; */
}

.arrive input, .departure input {
  width: 150px;
  /* margin-top: 5px; */
}

.guests select {
  /* width: 320px;
  margin-top: 5px; */
}

.container .main-btn {
  /* width: 320px; */
  height: 44px;
}

.main-btn::after {
  content: "arrow_forward";
  font-family: 'Material Icons';
  font-weight: normal;
  font-size: 24px;
  text-transform: none;
  right: 60px;
}

.caption {
  position: relative;
  right: 134px;
  top: 761px;
  float: right;
  text-align: right;
  /* text-shadow: 1px 1px 3px var(--color75); */
}

footer {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  /* height: 442px; */
  width: 100%;
  background: white;
  box-shadow: 0px 0px 0px 1px rgba(31, 32, 65, 0.1);
  padding: 100px calc((100% - 1160px) / 2);
}

.col {
  display: flex;
  flex-direction: column;
  width: 160px;
  /* padding: 0 20px; */
  text-align: left;
}

.col img {
  display: inline;
  width: 106px;
  margin: 0;
}

.col:first-child {
  /* padding: 0 20px 0 0; */
}

.col:last-child {
  /* padding: 0 0 0 20px; */
}

.col-lg {
  width: 260px;
}

.col h3 {
  margin-top: 5px;
}

.col span, .col p, .col input {
  margin-top: 20px;
}

.copyright {
  display: flex;
  bottom: 0;
  width: 100%;
  height: 70px;
  border-top: 1px solid var(--color5);
  padding: 0 140px;
  align-items: center;
}
