@font-face {
  font-family: "Montserrat";
  font-style: normal;
  /* Браузер сначала попробует найти шрифт локально */
  src: url("/fonts/Montserrat-Regular.ttf");
  /* local("Montserrat"), */
       /* Если не получилось, загрузит woff2 */

       /* Если браузер не поддерживает woff2, загрузит woff */
       /* url("/fonts/roboto.woff") format("woff"); */
}

:root {
  --color1: #6fcf97;
  --color2: #bc9cff;
  --color100: #1f2041;
  --color75: rgba(31, 32, 65, .75);
  --color50: rgba(31, 32, 65, .5);
  --color25: rgba(31, 32, 65, .25);
  --color5: rgba(31, 32, 65, .05);
  --gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

*, *::after, *::before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   transition: .2s ease-in-out;
   /* добавим плавность переходов для всех элементов страницы*/
}
*::after, *::before {
   position: absolute;
}
a {
   text-decoration: none;
   outline: none;
}
img {
   display: block;
   width: 100%;
}
body {
  /* font-family: "Montserrat", 'Open Sans', arial, sans-serif; */
  font: 400 14px Montserrat;
  line-height: 24px;
  /* letter-spacing: 1px; */
  color: var(--color75);
  background: var(--color5);
  min-height: 600px;
}
h1, h2, h3, h4, h5, h6 {
   font-weight: 700;
   letter-spacing: 0;
   line-height: 1;
   color: var(--color100);
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 19px;
}
h3 {
  font-size: 12px;
  text-transform: uppercase;
}
button {
  font: 700 12px Montserrat;
}

select, input {
  font: 400 14px Montserrat;
  letter-spacing: 1px;
  color: var(--color75);
  border: 1px solid var(--color25);
  border-radius: 4px;
  /* height: 44px; */
  padding: 12px 15px;
}

input::placeholder {
  color: var(--color25);
}

input[type="radio" i] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type="radio" i]+label {
  display: inline-flex;
  align-items: center;
}

input[type="radio" i]+label::before {
  position: static;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 4px solid #FFF;
  box-shadow: 0 0 0 1px var(--color25);
  border-radius: 50%;
  margin-right: 0.5em;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

input[type="radio" i]:checked+label::before {
  box-shadow: 0 0 0 1px var(--color2);
  background-image: var(--gradient);
}

input[type="checkbox" i] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type="checkbox" i]+label {
  display: inline-flex;
  align-items: center;
}

input[type="checkbox" i]+label::before {
  position: static;
  content: "";
  display: inline-block;
  width: 40px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  /* border: 4px solid #FFF; */
  box-shadow: inset 0 0 0 1px var(--color25), inset 0 0 0 4px #FFF, inset -20px 0 0 4px #FFF;
  border-radius: 10px;
  margin-right: 0.5em;
  background-color: var(--color25);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: .3s ease-in-out;
}

input[type="checkbox" i]:checked+label::before {
  box-shadow: inset 0 0 0 1px var(--color2), inset 20px 0 0 4px #FFF, inset 0px 0 0 4px #FFF;
  background-image: var(--gradient);
}

/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .search:after, footer:after, .widget-posts-list li:after, #subscribe:after {
   content: "";
   display: table;
   clear: both;
}
/* стилевой класс, который управляет шириной контейнера сетки*/
.search {
   margin: 0 auto;
   width: 100%;
   max-width: 960px;
   padding: 0 15px;
}

header {
  /* display: grid;
  grid-auto-flow: column; */
  width: 100%;
  background: white;
  box-shadow: 0px 10px 20px var(--color5);
  padding: 20px 10%;
  position: relative;
  height: 70px;
}

header a, footer a {
  color: var(--color50);
}

header a:hover {
  color: var(--color75);
  text-decoration: underline;
}

nav {
  /* width: 80%; */
  /* position: relative; */
  display: flex;
  grid-gap: 20px;
  float: right;
  justify-content: center;
}

header div {
  /* position: absolute; */
  display: inline-flex;
  align-items: center;
  height: 30px;
  /* margin-right: 20px; */
  /* width: 10%; */
  /* padding: 10px; */
}

header div:last-child {
  margin-right: 0;
}

.logo {
  float: left;
}

.logo a {
  display: inline-flex;
}

.btn {
  display: inline-flex;
  color: white;
  background: var(--gradient);
  /* background-color: var(--color2); */
  /* height: 34px; */
  padding: 10px 20px;
  border-width: 0;
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

header .btn {
  height: 34px;
}

#logIn {
  border: 2px solid;
  /* Временно */
  /* border-image-source: var(--gradient); */
  color: var(--color2);
  background: white;
}

.log {
  /* display: grid;
  grid-auto-flow: column;
  height: 30px; */
  float: right;
}

section {
  background: url("/images/image 3.png");
  background-size: cover;
  background-position: 0 -100px;
  width: 100%;
  height: 830px;
}

.container {
  display: grid;
  grid-gap: 20px;
  position: relative;
  top: 70px;
  background: white;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  width: 380px;
  /* height: 374px; */
  padding: 40px 30px 30px 30px;
}

.search {
  float: left;
  left: 140px;
  grid-column: 50% 50%;
}

.registration {
  margin: 0 auto;
}

.registration span {
  color: black;
}

.container div {
  display: grid;
  grid-gap: 10px;
}

div .arrive-departure {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.else-login {
  grid-auto-flow: column;
  /* justify-content: center; */
  align-items: center;
}

.search h1 {

}

.search div {
  /* display: grid; */
  /* width: 150px; */
  /* height: 64px; */
  /* margin-top: 20px; */
}

.departure {
  /* margin-left: 12px; */
}

.arrive select, .departure select {
  /* width: 150px;
  margin-top: 5px; */
}

.guests select {
  /* width: 320px;
  margin-top: 5px; */
}

.container .btn {
  /* width: 320px; */
  height: 44px;
}

.caption {
  position: relative;
  right: 134px;
  top: 764px;
  float: right;
  text-align: right;
  /* text-shadow: 1px 1px 3px var(--color75); */
}

footer {
  display: inline-flex;
  justify-content: space-between;
  height: 442px;
  width: 100%;
  background: white;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  padding: 100px 140px;
}

footer ::after {
  display: none;
}

.col {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0 20px;
  text-align: left;
}

.col img {
  display: inline;
  width: 106px;
}

.col:first-child {
  padding: 0 20px 0 0;
}

.col:last-child {
  padding: 0 0 0 20px;
}

.col-lg {
  width: 260px;
}

.col * {
  margin-top: 20px;
}

.copyright {
  display: flex;
  bottom: 0;
  width: 100%;
  height: 70px;
  border-top: 1px solid var(--color5);
  padding: 0 140px;
  align-items: center;
}
