<template>
  <footer>
    <div class="content">
      <div class="col col-lg">
        <img src="./svg/logo.svg">
        <p>Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»</p>
      </div>
      <div class="col">
        <h3>Навигация</h3>
        <span><a href="#">О нас</a></span>
        <span><a href="#">Новости</a></span>
        <span><a href="#">Служба поддержки</a></span>
        <span><a href="#">Услуги</a></span>
      </div>
      <div class="col">
        <h3>О нас</h3>
        <span><a href="#">О сервисе</a></span>
        <span><a href="#">Наша команда</a></span>
        <span><a href="#">Вакансии</a></span>
        <span><a href="#">Инвесторы</a></span>
      </div>
      <div class="col">
        <h3>Служба поддержки</h3>
        <span><a href="#">Соглашения</a></span>
        <span><a href="#">Сообщества</a></span>
        <span><a href="#">Связь с нами</a></span>
      </div>
      <div class="col col-lg">
        <h3>Подписка</h3>
        <p>Получайте специальные предложения и новости сервиса</p>
        <div><input type="text" id="subscription" placeholder="Email"><label>&nbsp;</label></div>
      </div>
    </div>
    <div class="copyright"><span>Copyright © 2018 Toxin отель. Все права защищены.</span></div>
  </footer>
</template>