<template>
  <header>
    <div class="logo">
      <a href="index.html">
        <img src="/svg/logo.svg"  width="106" height="40">
      </a>
    </div>
    <nav>
      <div class="about"><a href="#">О нас</a></div>
      <div class="services link-dropdown">
        <span>Услуги</span>
        <div class="link-dropdown-content">
          <a href="#">Такси до аэропорта</a>
          <a href="#">Другое</a>
        </div>
      </div>
      <div class="vacancies"><a href="#">Вакансии</a></div>
      <div class="news"><a href="#">Новости</a></div>
      <div class="agreements link-dropdown">
        <span>Соглашения</span>
        <div class="link-dropdown-content">
          <a href="#">Соглашение о конфиденциальности</a>
          <a href="#">Пользовательское соглашение</a>
          <a href="#">Разное</a>
        </div>
      </div>
      <a href="/login.html" class="btn alt-btn">Войти</a>
      <a href="/registration.html" class="btn">Зарегистрироваться</a>
    </nav>
  </header>
  <header id="login">
    <div class="logo">
      <a href="index.html">
        <img src="/svg/logo.svg"  width="106" height="40">
      </a>
    </div>
    <nav>
      <div class="about"><a href="#">О нас</a></div>
      <div class="services link-dropdown">
        <span>Услуги</span>
        <div class="link-dropdown-content">
          <a href="#">Такси до аэропорта</a>
          <a href="#">Другое</a>
        </div>
      </div>
      <div class="vacancies"><a href="#">Вакансии</a></div>
      <div class="news"><a href="#">Новости</a></div>
      <div class="agreements link-dropdown">
        <span>Соглашения</span>
        <div class="link-dropdown-content">
          <a href="#">Соглашение о конфиденциальности</a>
          <a href="#">Пользовательское соглашение</a>
          <a href="#">Разное</a>
        </div>
      </div>
      <div class="username">
        <a href="#"></a>
      </div>
    </nav>
  </header>
</template>